/* Home.css */

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .year-section {
    width: 100%;
    margin-bottom: 40px;
  }
  
  .movies-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }