.navbar {
  position: fixed;
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 0;
  text-align: center; /* Center align the text */
  z-index: 1000; /* Ensure navbar stays on top */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.navbar-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px; /* Added padding */
}

.navbar-title {
  font-size: 39px;
  font-weight: bold;
  color: red;
  border: 1px solid #333;
  margin: 0; 
}

.menu-bar {
  overflow-x: auto; /* Enable horizontal scrolling */
  overflow-y: hidden; /* Hide vertical scrollbar */
  white-space: nowrap; /* Prevent wrapping of menu items */
  padding: 10px 20px; /* Added padding */
}

.menu-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline-flex; /* Ensures the list items stay in a row */
}

.menu-item {
  margin-right: 10px; /* Adjust spacing between items */
}

.menu-item button {
  background-color: #333;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.menu-item button:hover {
  background-color: #555;
}
